{% extends "templates/home.html" %}
{% if n_active_users(user) != '' %}
   {% set greeting = "Hello, " + user.name + "! There are currently " + n_active_users(user) + " active users." %}
{% else %}
   {% set greeting = "Hello, " + user.name + "!" %}
{% endif %}

{% block main %}
<h3 class="lead"><center>{{ greeting }}</center></h3>

{{ super() }}

<br>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
	<h4 class="lead mb-1">General considerations</h4>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	<h5 class="mb-1"><b>Storage space</b></h5>
    </div>
    <p class="mb-1">You are guaranteed 512 GB of persistent storage.</p>
    <small>Only home directory applies.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>Timed usage</b></h5>
    </div>
    <p class="mb-1">Resources are reserved for 24 hours. You can start another session immediately after.</p>
    <small>Make sure to design workflows with checkpointing in mind.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>User limit</b></h5>
    </div>
    <p class="mb-1">Although there is no imposed limit, at most 6 concurrent users are supported. After this limit, depending on resource utilization, CPU workloads my lag for multiple members, GPU environments may not be available.</p>
    <small>Some users may experience environment termination.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>Python persistent environments</b></h5>
    </div>
    <p class="mb-1">Depending on your environment choices, you will notive one (or both) conda environments that persist accross restarts: scipy-env (for data science environment) and pytorch-env (for CUDA-enabled environment).</p>
    <small><b>Do not install packages in the base environment if you care about package persistance.</b></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>Activate conda environments</b></h5>
    </div>
    <p class="mb-1">Run <code>source conda.shell</code> in Terminal if you would like to activate a specific conda environment.</p>
    <small><code>mamba</code> is also available for installing packages, and should be faster than conda, but it is not tested.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>R users</b></h5>
    </div>
    <p class="mb-1">R users should choose their dedicated environment. R Studio can be accessed by selecting the specific entry in Launcher. <b>Note than new packages will be persisted only if <code>.libPaths()</code> returns '/home/jovyan/.R/library'.</b></p> 
    <small>In our tests, we had to quit the first R Studio session before changes took effect.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
	 <h5 class="mb-1"><b>CUDA images</b></h5>
    </div>
    <p class="mb-1">CUDA images have extra features for packages requiring compilation:</p>
        <ul class="list-group list-group-flush">
	    <li class="list-group-item">Intel MKL (check <code>MKLROOT</code> env var)</li>
	    <li class="list-group-item">CUDA 12.2 toolkit (executables, such as <code>nvcc</code>, are in PATH)</li>
	</ul>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-75 justify-content-between">
            <h4 class="mb-1 leading">We wish you good luck in your research!</h4>
    </div>
    </a>
<small class="text-muted">If you require any application in your workflow, contact {{ contact_email }}.</small>
</div>

{% if has_special_rights(user) %}
     <ol class="list-group">
          <li class="lead list-group-item list-group-item-action active" aria-current="true">You have been assigned to:</li>
	  {% if get_dashboard_role(user) != None %}
	      <li class="list-group-item mb-2">Acces <a href="https://pnrr-ai.ase.ro/grafana">Grafana dashboard</a>. Use your Github account for authentication.</li>
	      <li class="list-group-item mb-2">Access <a href="https://pnrr-ai.ase.ro/kube-dashboard">Kubernetes dashboard</a>. Use the following token for authentication:<br><code>{{ dashboard_token }}</code>.</li>
	  {% endif %}
     </ol>
{% endif %}

<small class="text-muted">We reserve the right to change any of the above specifications.</small>
{% endblock main %}
